# SSH keys
.ssh

# VSCode
.vscode

# Ansible
*.retry
ansible.log
ansible_facts.d/

# Terraform
.terraform/
terraform.tfstate*
*.tfstate.backup
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.lock.*

#Others
envs
ansible/inventory.yaml
ansible/private_keys
